body {
  --text-color: #000000;   
  --conteiner-background-color: #b79077;
  --border-color: #4e3628;
  --background-color: #f3e3da;
}

body:has(#broun-tema:checked) {
  --text-color: #000000;   
  --conteiner-background-color: #b79077;
  --border-color: #4e3628;
  --background-color: #f3e3da;
}

body:has(#purple-tema:checked) {
  --text-color: #ffffff;   
  --conteiner-background-color: #411376;
  --border-color: #25005d;
  --background-color: #d2a3ff;
}

body:has(#green-tema:checked) {
  --text-color: #000000;   
  --conteiner-background-color: #2cb345;
  --border-color: #004220;
  --background-color: #d7fff8;
}

* {
    color: var(--text-color);
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding-top: 70px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 300px;
    height: 280px;
    border: 3px solid var(--border-color);
    padding: 0 10px;
}

h1 {
    color: var(--border-color);
    height: 40px;
    margin: 5%;
    text-align: center;
}

.conteiner_stilei {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.conteiner_dla_radio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 5px;
}

 .cnopka {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--conteiner-background-color);
}

.cnopka:hover {
    transform: scale(0.99);
    opacity: 0.9;
}

.cnopka:active {
    transform: scale(1.02);
}

.conteiner_dla_radio input[type="radio"] {
    display: none;
}

.zagruska{
    display: flex;
    gap: 8px;
}

.point_zagruska {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--border-color);
}

.point_zagruska_1 {
    animation: zagruzka 1s linear 0s infinite alternate;
}

.point_zagruska_2 {
    animation: zagruzka 1s linear 0.1s infinite alternate;
}

.point_zagruska_3 {
    animation: zagruzka 1s linear 0.2s infinite alternate;
}

@keyframes zagruzka {
  0% {
    transform: scale(0.3);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}