:root {
  --text-color: #000000;   
  --conteiner-background-color: #b79077;
  --border-color: #4e3628;
  --background-color: #f3e3da;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding-top: 70px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 300px;
    height: 250px;
    border: 3px solid var(--border-color);
    padding: 0 10px;
}

h1 {
    height: 40px;
    margin: 5%;
    text-align: center;

    /* border: 1px solid red; */
}

.conteiner_stilei {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.conteiner_dla_radio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 5px;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--conteiner-background-color);
}